<app-toolbar></app-toolbar>

<div class="container">
  <h1 class="title">My Connections</h1>
  
  <table mat-table [dataSource]="automations" class="mat-elevation-z8">
    
    <ng-container matColumnDef="jiraProject">
      <th mat-header-cell *matHeaderCellDef> Jira Project </th>
      <td mat-cell *matCellDef="let automation"> {{ automation.jiraProject }} </td>
    </ng-container>
  
    <ng-container matColumnDef="typesName">
      <th mat-header-cell *matHeaderCellDef> Types </th>
      <td mat-cell *matCellDef="let automation">
        {{ automation.types.join(', ') }}
      </td>
    </ng-container>
  
    <ng-container matColumnDef="createdAt">
      <th mat-header-cell *matHeaderCellDef> Created At </th>
      <td mat-cell *matCellDef="let automation"> {{ automation.createdAt | date: 'short' }} </td>
    </ng-container>
  
    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef> Status </th>
      <td mat-cell *matCellDef="let automation"> {{ automation.status == true ? "ACTIVE" : "DELETED" }} </td>
    </ng-container>
  
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef> Actions </th>
      <td mat-cell *matCellDef="let automation">
        <button *ngIf="automation.status == true" class="delete-button" mat-raised-button color="warn" (click)="deleteAutomation(automation.id)">
          Delete
        </button>
      </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
