.select-container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.project-form {
  display: flex;
  flex-direction: column;
}

mat-card-content {
  padding: 25px;
  min-width: 250px;
}

button[mat-flat-button] {
  margin-top: 20px;
  margin-bottom: 20px;
}

button[mat-flat-button]:disabled {
  background-color: #d3d3d3;
  color: #808080;
}

.item{
 justify-content: center;
}

.button-container{
  display: flex;
  justify-content: center;
}