<app-toolbar></app-toolbar>
<div class="select-container">
  <mat-card appearance="outlined">
    <mat-card-header class="item">
      <h3>Select Jira Project</h3>
    </mat-card-header>
    <mat-card-content>
      <form class="project-form">
        <mat-form-field appearance="fill">
          <mat-label>Choose a Jira Project</mat-label>
          <mat-select [(ngModel)]="selectedProject" name="selectedProject" required>
            <mat-option *ngFor="let project of projects" [value]="project">{{ project }}</mat-option>
          </mat-select>
        </mat-form-field>

        <div class="button-container">
          <button mat-flat-button color="primary" (click)="onNext()" class="next-button" [disabled]="!selectedProject">
            Next
          </button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>
