<app-toolbar></app-toolbar>
<div class="container">
    <mat-card class="card">
      <div class="name-dropdown">
        <img src="assets/jira.svg" alt="Jira" class="icon">
        <span class="title">Jira</span>
        <mat-form-field appearance="fill" class="dropdown-field">
          <mat-label>Choose automation</mat-label>
          <mat-select [(value)]="selectedType">
            <mat-option *ngFor="let type of types" [value]="type">
              {{ type }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <img src="assets/slack.png" alt="Slack" class="icon">
        <span class="title">Slack</span>
      </div>
      <div class="button-container">
        <button mat-flat-button color="primary" [disabled]="!selectedType" (click)="onAddClick()" class="add-button">Add</button>
      </div>
    </mat-card>
  </div>
  